<!-- Extract this to form? -->
<div id="header">
<h1>Auction</h1>
</div>

<div class='container'>
	<div class='col-8 push-2'>
		<h2>Signup</h2>
		<%= form_for @user do |f| %>
			<label>
				First Name
				<br />
				<%= f.text_field :first_name %>
			</label>
			<br />
			<label>
				Last Name
				<br />
				<%= f.text_field :last_name %>
			</label>
			<br />
			<label>
				Email Address
				<br />
				<%= f.text_field :email %>
			</label>
			<br />
			<label>
				Password
				<br />
				<%= f.password_field :password %>
			</label>
			<br />
			<label>
				Confirm Password
				<br />
				<%= f.password_field :password_confirmation %>
			</label>
			<br />			
			<label>
				Initial Deposit
				<br />
				<%= f.text_field :cash %>
			</label>
			<div>
    			<%= image_tag(@user.avatar_url) if @user.avatar? %>
    			<%= f.file_field :avatar %>
    			<%= f.hidden_field :avatar_cache %>
    		</div>
			<br />
			<%= f.submit %>
		<% end %>
	</div>
</div>

<!-- Link to return to the product list -->
<div id="footer">
<%= link_to "Home", root_path %>
</div>