<div id="header">
<h1>Auction</h1>
</div>

<!-- Need to show the correct user's photo, currently showing the user that is logged in -->


<!-- If the user is logged in we want to show a differnt user page than if the user was not the owner of the profile -->
<% if "user_id" == params[:id] %>
	<h1>Hello <%= @user.first_name %></h1>

<!-- List the user's items that are for sale -->
	<h3>Your Items for sale!</h3>
	<% @user.product.all.each do |product| %>
		<%= link_to product.name, product %>
		<br>
	<% end %>

<!-- List the items that a user is bidding on -->
	<h3>Your You are bidding on!</h3>
	<% Product.all.each do |product| %>
		<% if product.buyer_id == @user.id %>
			<%= link_to product.name, product %>
		<% end %>
	<% end %>

<!-- List the user's reviews and average rating -->
	<h3>Your Reviews</h3>
	Average Seller Rating: 
	<%if @user.total_ratings.nil? or @user.total_ratings = 0 %>
		No Seller Ratings
	<%else%>
		<%=@user.average_rating%> <br>
		Total Ratings: 
		<%=@user.total_ratings %>
	<%end%>

	<br>
	<% @user.reviews.all.each do |review| %>
		<% reviewer = User.find(review.reviewer_id) %>
		Reviewer: <%= reviewer.first_name %> <%= reviewer.last_name %> <br>
		"<%= review.review %>"
		<br>
	<% end %>

<!-- Allow the user to sell items -->
	<h3><%= link_to "List an item for sale", new_product_path %></h3>

	<%= image_tag @user.avatar if @user.avatar.present? %>

<!-- If the user is not logged into the profile that they are viewing we do this -->
<% else %>

<!-- find the user, display their name and some stats-->
	<% user = User.find(params[:id]) %>
	<h1><%= user.first_name %> <%= user.last_name %></h1>
	<h3>Number of Products Sold: <%= user.products_sold %></h3>
	<h3>Number of Products bought: <%= user.products_bought %></h3>

	Average Seller Rating:
	<%if user.total_ratings.nil? or user.total_ratings = 0 %>
		No Seller Ratings
	<%else%>
		<%=user.average_rating%> <br>
		Total Ratings: 
		<%=user.total_ratings %>
	<%end%>

<!-- Allow other user's to review this person -->
	<h3><%= link_to "Review Seller", new_review_path(:id => user.id) %></h3>


<!-- Display the user's reviews -->
	<br>
	<% user.reviews.all.each do |review| %>
		<% reviewer = User.find(review.reviewer_id) %>
		Reviewer: <%= reviewer.first_name %> <%= reviewer.last_name %> <br>
		"<%= review.review %>"
		<br>
	<% end %>

<!-- Display the items that the user has for sale -->
	<h2> Products for Sale </h2>
	<% user.product.all.each do |product| %>
		<h3><%= link_to product.name, product %></h3>
	<% end %>

	<%= image_tag user.avatar if user.avatar.present? %>
<% end %>




<!-- Link to return to the product list -->
<div id="footer">
<%= link_to "Home", root_path %>
</div>
