<%= form_for @product do |f| %>
	<fieldset>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div>
			<%= f.label :category %>
			<%= f.text_field :category %>
		</div>
		<div>
			<%= f.label "Short Description" %>
			<%= f.text_field :description %>
		</div>
		<div>
			<%= f.label "Detailed Description" %>
			<%= f.text_area :long_description, :cols => "20", :rows => "10" %>
		</div>
		<div>
			<%= f.label :starting_price %>
			<%= f.text_field :starting_price %>
		</div>
		<div>
			<%= f.label :buy_now_price %>
			<%= f.text_field :buy_now_price %>
		</div>
		<div>
			<%= f.label "Minimum Price" %>
			<%= f.text_field :min_price %>
		</div>
		<div>
			<%= f.label "Auction End Date" %>
			<%= f.text_field :end_date %>
		</div>
		<div>
    		<%= image_tag(@product.avatar_url) if @product.avatar? %>
    		<%= f.file_field :avatar %>
    		<%= f.hidden_field :avatar_cache %>
    	</div>
  		</p>
	</fieldset>
	<%= f.submit %>
<% end %>
