<p>
Category: <%=@product.category%>
</p>
Description: <%=@product.description%>
<p>
</p>
Auction End Date: <%=@product.end_date.strftime("%m/%d/%Y")%> at <%= @product.end_date.strftime("%I:%M%p") %>
<br />

<% if Time.now < @product.end_date %>
	Time Left: <%= (@product.end_date.minus_with_coercion(Time.now)/3600).round %> Hours
<% else %>
	Time Left: Auction has Ended
<% end %>

<p>
Starting Price: <%=number_to_currency(@product.starting_price, :unit => "$")%>
</p>
Current Price: <%=number_to_currency(@product.current_price, :unit => "$")%>
<p>
Bids: <%= @product.bids %>
</p>