<div id="header">
<h1>Auction</h1>
</div>

<% if session[:user_id] %>
	<h2><%= link_to "Welcome Back!", user_path(:user_id) %> </h2>
<% else %>
	<h3><%= link_to "Sign Up", new_user_path %></h3>
	<h3><%= link_to "Log In", login_path %></h3>
<% end %>

<h2>Search our Products Below!<h2>

<br/>

<%= form_tag products_path, method: "GET" do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
<% end %>

<%= render "productlist" %>
<%= render "userlist" %>


<div id="footer">
<% if session[:user_id] %>
	<h3 style="text-align:left"> <%= link_to "Not You? Log out!", logout_path, method: 'post' %> </h3>
<% end %>
</div>

<!-- Link to return to the product list -->
<div id="footer"></div>
