<h1>Welcome to AuctionHouse!</h1>

<% if session[:user_id] %>
	<h2> Welcome Back! </h2>
	<h3><%= link_to "User Profile", user_path(:user_id) %></h3>
<% else %>
	<h3><%= link_to "Sign Up", new_user_path %></h3>
	<h3><%= link_to "Log In", login_path %></h3>
<% end %>

<h2>Search our Products Below!<h2>

<%= form_tag @products, method: "GET" do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
<% end %>

<br/>

<%= render "productlist" %>
<%= render "userlist" %>


<% if session[:user_id] %>
	<%= form_tag logout_path, method: 'post' %>
	<%= submit_tag "Log Out" %>
<% end %>