<style>
#header {
    background-color:#77B6EA;
    color:#172A3A;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#D6E4F3;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:#77B6EA;
    color:#172A3A;
    clear:both;
    text-align:left;
   padding:5px;	 	 
}
</style>


<div id="header">
<h1>Auction</h1>
</div>

<h1 style="text-align:center"><%= @product.name %></h1>

<%= render "sold" %>

<p>
<!-- Determine the product's seller -->
<% seller = User.find(@product.user_id) %>
		Seller: <%= seller.first_name %> <%= seller.last_name%> <br>
</p>

<%= render "stats" %>

<%= render "bid" %>

<!-- Link to return to the product list -->
<div id="footer">
<%= link_to "Home", root_path %>
</div>



