<div id="header">
<h1>Auction</h1>
</div>

<h1 style="text-align:center"><%= @product.name %></h1>

<div class="photo-row">
    <div class="photo"><%=image_tag(@product.avatar, height: "400", width: "400")%></div>
</div>

<%= render "sold" %>

<p>
<!-- Determine the product's seller -->
<% seller = User.find(@product.user_id) %>
		Seller: <%= seller.first_name %> <%= seller.last_name%> <br>
</p>

<%= render "stats" %>

<%= render "bid" %>

<%= @product.long_description %>



<!-- Link to return to the product list -->
<div id="footer">
<%= link_to "Home", root_path %>
</div>



